<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSP</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">RIRC Apps</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/PSP/Home/Index">PSP</a></li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="container theme-showcase" role="main">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel panel-default">Ошибка авторизации.</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            У Вас отсутствуют права на просмотр данного ресурса. Обратитесь к администратору<br>
                            Ошибка авторизации.<br>
                            <a href="https://billing.rirc.ru/">Нажмите эту ссылку для перенаправления на сайт billing.rirc.ru.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="~/Scripts/jquery-2.2.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
